body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 13px;
    color:#000000;
}
h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:antiquewhite;
}
 .jumbotron {
            background-image: url('http://localhost:4150/img/4.jpg');
            height: 100%;
            width: 100%;
            background-size: cover;
        }
.text-green{
            font-family: 'Buxton Sketch';
            font-size: 95px;
            font-weight:bold;
            color: #70600a;
        }
.text-coffee{
            font-family:'Bodoni MT';
            font-size: 45px;
            font-weight: bolder;
            color: #fba96e;
        }
.bg-warning {
            background-image: url('http://localhost:4150/img/1.jpg');
            background-size: cover;
        }
.ErrorMessage{
    color:red;
}